@model IEnumerable<MyEventsListingModel>
@{
    ViewData["Title"] = "My Events";
}

<h2 style="text-align: center; font-weight: bold">@ViewData["Title"]</h2>
<hr style="height: 3px; background-color: #AFEEEE" />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Tickets</th>
        </tr>
    </thead>
    <tbody>
        @if (this.Model != null)
        {
            foreach (var order in this.Model)
            {
                <tr>
                    <td>@order.Count</td>
                    <td>@order.EventName</td>
                    <td>@order.Start</td>
                    <td>@order.End</td>
                    <td>@order.TicketsCount</td>
                </tr>
            }
        }
    </tbody>
</table>
<hr style="height: 3px; background-color: #AFEEEE" />